<h1>Editing doerabbit</h1>

<%= render "form", doerabbit: @doerabbit %>

<br>

<div>
  <%= link_to "Show this doerabbit", @doerabbit %> |
  <%= link_to "Back to doerabbits", doerabbits_path %>
</div>
