<h1>Doebundel° Record keeping </h1>

<div id="doerabbits">
  <% @doerabbits.each do |doerabbit| %>
    <%= render doerabbit %>
    <p>
      <%= link_to "Show this doerabbit", doerabbit %>
    </p>
  <% end %>
</div>

<%= link_to "New doerabbit", new_doerabbit_path %>
