<h1>Editing supply</h1>

<%= render "form", supply: @supply %>



<div>
  <%= link_to "Show this supply", @supply, class: "btn btn-dark " %> |

  <%= link_to "Back to supplies", supplies_path, class: "btn btn-dark " %>
</div>
